.btn {
    --bg-btn: var(--text-color-primary);
    --btn-color: var(--bg-color);
    border: 0;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    border-radius: .8rem;

    font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);

    cursor: pointer;

    background: var(--bg-btn);
    color: var(--btn-color);

    /* margin-left: 20px;
    margin-top: 20px; */
}

.btn:hover {
    background: linear-gradient(90deg,
            var(--brand-color-secondary)0%,
            var(--brand-color-primary) 100%);
    color: var(--surface-color);

    -webkit-background-clip: initial;
    background-clip: initial;
}

.btn-sm {
    padding: .5rem 1rem;
    font-size: var(--ff-sm);
}

.btn-md {
    padding: .75rem 1.5rem;
    font-size: var(--ff-base);
}

.btn-lg {
    padding: 1rem 2rem;
    font-size: 1.125rem;
}

.btn[area-label] {

    position: relative;

    &::before {
        content: "";
        position: absolute;
        border: inherit;
        inset: 1.5px;
        border-radius: .8rem;
        background-color: var(--bg-color);
    }

    &::after {
        content: attr(area-label);
        background: var(--bg-btn);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        position: relative;
        z-index: 1;
    }
}


@media (width>=80rem) {

    .btn-sm {
        padding: .75rem 1.5rem;
        font-size: var(--ff-base);
    }

    .btn-md {
        padding: 1rem 2rem;
        font-size: 1.125rem;
    }
}